body {
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    background-color:#0C0E0D;
    color: white;
}

section.maincontainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.navbar a{
    color: white !important;
}
.list a{
color: #3D292A !important;
}
.logo {
width:200px;
height:100%;
}

.logo img{
    object-fit: cover;
}

.text{
display: flex;
flex-direction: column;
width: 100%;
height: 100vh;
justify-content: center;
align-content: center;
font-weight: 400;
}
.text p{
    font-size: 13px;
}
.name {
    color:#E2AE32;
}
.book button,
.contact button,
.view button{
    background-color:#E2AE32;
    border-color:  #E2AE32;
    border-radius: 10px;
    color: white;
    
}
.book button:hover,
.contact button:hover,
.view button:hover {
    background-color: white;
    color: #E2AE32;
    border: #3D292A;
}

.hero{
    background:linear-gradient(to left, rgba(0,0,0,.9) 30%, rgba(0,0,0,0.1)), url(../assets/bgg2.jpg);
    height: 100vh;
}

section.bodycon {
    height: 80vh;
}

.couple1{
    width: 400px;
   
  
}
.couple1 img{
    width: 100%;
    height: 50vh;
    border-radius: 20px;
    object-fit: cover;
}
.box {
    background-color: #1B1C1E;
    border: 1px solid #1B1C1E;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 65vh;
    padding: 40px;
}
.body-icon{
   padding-bottom: 30px;
    margin-bottom: 20px;
    color: #E2AE32;
}
.box p {
    font-size: 15px;
    font-weight:400;
}
.title{
    font-weight:bold;
    font-size: 20px;

}
.box a{
    text-decoration: none;
    color:#E2AE32;
}
.box p{
    font-size: 12px;
}
.review i{
font-size: 18px;
font-weight: 400;
}
.quote{
    font-size: 20px;
    color: #E2AE32;
    font-weight:bolder;
}
.view{
 padding-top: 10px;
}
section.review{
    background: linear-gradient(to left, rgba(0, 0, 0, .9) 30%, rgba(0, 0, 0, 0.1)), url(../assets/bgg.jpg);
    background-repeat: no-repeat;
    width: 100%;
}

 .images{
    width: 100%;
    height: auto;
    
 }

 .images img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: contain;
    
 }
 
 .gallery
 {
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
 .images1 {
     width: 300px;
     height: auto;

 }

 .images1 img {
     width: 100%;
     height: 100%;
     border-radius: 10px;
     object-fit: contain;

 }
 .photo-con{
    display: flex;
    flex-direction: column;
    gap: 50px;
 }
  .icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 30px;
    font-weight: 800;
  }
  .icons a{
    color:#E2AE32;
  }
  section.con-container {
     background: linear-gradient( rgba(0, 0, 0, .7) 30%, rgba(0, 0, 0, 0.1)), url(../assets/acc6.jpg);
     height: 100vh;
     display: flex;
     flex-direction: column;
     gap: 30px;
  }
  section.con-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    gap: 30px;
    justify-content: center;
   }
   .instruction{
    font-weight: 800;
    
   }
   .footer{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
 .icons-footer{
            display: flex;
            justify-content: center;
            gap: 20px;
           
        }
.icons-footer a{
color:#E2AE32;
}

 @media screen  and (max-width: 576px){
.box {
        margin: 10px;
        width: 100;
        height: 27vh;    
    }
.box p{
    text-align: center;
}

.body-icon {
justify-self: center;
padding: 10px;
}

.couple1 img {
height:35vh;
}

.review{
height: 100vh;
margin-top: 20px;
}
/* section.review {
    width: 100%;
} */
section.bodycon {
    height: 100vh;
    margin-bottom: 40px;
   }
 }
.text{
    height: 80vh;
}
    

  